html {
  background-color: #0060FF;
  color: white;
}

body {
  margin: 5%;
}

ul {
  list-style-type: none;
}

section {
  border: 1px black solid;
  overflow: auto;
}

.nation-name {
  font-size: 2em;
  text-align: center;
  background-color: #00B0FF;
  padding: 1px;
}

.nation-flag {
  float: left;
}

.nation-flag img {
  display: block;
}

.nation-desc {
  margin-left: 650px;
}

#title {
  text-align: center;
}

#navbar {
  text-align: center;
  position: sticky;
  top: 0;
}

#navbar li {
  color: black;
  background-color: yellow;
  list-style: none;
  display: inline;
  border: 2px black solid;
  border-radius: 20px;
  padding: 10px 20px; 
  font-weight: bold;
}

#navbar li a {
  text-decoration: none;
}
