html {
  background-color: #0060FF;
  color: white;
}

body {
  margin: 5%;
}

#title {
  text-align: center;
}

#navbar {
  text-align: center;
}

#navbar li {
  color: black;
  background-color: yellow;
  list-style: none;
  display: inline;
  border: 2px black solid;
  border-radius: 20px;
  padding: 10px 20px; 
  font-weight: bold;
}

#navbar li a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}